.itemsSection {
  margin-bottom: 18px;
  .themeItemsblock {
    display: flex;
    flex-wrap: wrap;
    background-color: #2EA9FD;
    border-radius: 4px;
    .themeItemsblock__oneItem {
      min-width: 85px;
      flex-grow: 0;
      padding: 5px;
      display: flex;
      justify-content: center;
      white-space: nowrap;
      align-items: center;
      height: 25px;
      background-color: #eeeeee;
      color: #e1fbfd;
      margin: 5px;
      border-radius: 6px;
      transition-duration: 0.5s;
      transition-property: transform;
      transform: translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      transition: all 0.5s ease;
      .themeItemsblock__oneItem_name {
        font: 1.5rem/2.2rem 'Roboto-Regular';
        color: #525b63;
        transition: all 0.5s;
      }
      .themeItemsblock__oneItem_count {
        //font: 1.5rem/1.6rem 'Roboto-Regular';
        margin-left: 4px;
        color: #6f6b6a;
        background-color: #cecece;
        padding: 2px 4px;
        border-radius: 50px;
      }
      a {
        font: 1.5rem/2.2rem 'Roboto-Regular';
        color: #7f7f7f;
        transition: all 0.5s;
      }
      &:hover, &:focus, &:active {
        transform: translateY(-3px);
        animation-name: hover;
        animation-duration: 1s;
        animation-delay: 0.3s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        a {
          color: #424040;
        }
      }
    }
  }
}

@keyframes hover {
  50% {
    transform: translateY(-4px);
  }

  100% {
    transform: translateY(-6px);
  }
}
